*{
  padding: 0;
  margin: 0;
  font-family: Verdana;
  text-decoration: none;
}
body,html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.navbar{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  width: 100%;
  height: 130px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar .container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 5px 0px;
}
.navbar .left{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.navbar .left img{
  width: 60px;
  transition: color 0.3s, transform 0.3s;
}
.navbar .left a:hover,
.navbar .left img:hover,
.navbar .right i:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.navbar .right{
  display: flex;
  gap: 35px;
  align-items: center;
}
.searchbox input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('https://www.w3schools.com/css/searchicon.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 600px 12px 40px;
}
.right i{
  font-size: 30px;
  color: #000;
  transition: color 0.3s, transform 0.3s;
}
.right i:hover{
  cursor: pointer;
}
.nav2 .container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 120px;
}
.nav2 .container .others a{
  color: #000;
  font-size: 14px;
}
.nav2 .container .others a:hover{
  cursor: pointer;
  color: rgb(253, 58, 58);
  text-decoration: underline;
  text-decoration-color: rgb(253, 58, 58);
  transition: all  0.3s ease-in-out;
}.nav2 .dropdown {
  position: relative;
  display: inline-block;
}
.nav2 .container .dropbtn {
  background-color: #5e9400;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  width: 180px;
  text-align: center;
  border-radius: 5px;
}
.nav2 .container .dropdown:hover .dropbtn {
  background-color: #5e9400;
}
.nav2 .container .dropdown-content {
  display: none;
  position: absolute;
  background-color: #202020;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}
.nav2 .container .dropdown-content a {
  color: #fff;
  font-size: 12px;
  padding: 10px 18px;
  text-decoration: none;
  display: block;
}
.nav2 .container .dropdown-content a:hover {
  background-color: #404040;
}
.nav2 .container .dropdown:hover .dropdown-content {
  display: block;
}

.scroll-up-btn{
  position: fixed;
  height: 45px;
  width: 42px;
  background: #ffe9b8;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #000;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border: 1px solid #000;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.scroll-up-btn.show{
  bottom: 30px;
  opacity: 1;
  pointer-events: auto;
}
.scroll-up-btn:hover{
  filter: brightness(90%);
}

.faq-heading h1{
  border-bottom: 1px solid #3e4152;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  color: #3e4152;
  letter-spacing: .15em;
  font-size: 1.8em;
  margin: 50px 0 10px 0px;
  max-height: 5em;
  font-weight: 700;
  text-align: center;
}
main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
}
h3 {
  color: #e59037;
  margin-top: 20px;
}
.footer {
  border-top: 2px solid #999;
  background-color: #f5f5f5;
  padding: 20px 0;
}
.footer .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.footer .heading img {
  width: 100px;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
}
.footer .left,
.footer .right {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .left a,
.footer .right a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer .left a:hover,
.footer .right a:hover {
  color: #007bff;
}
.footer .right{
  display: flex;
  flex-direction: column;
}
.footer .right i {
  font-size: 24px;
  color: #000;
  margin-right: 5px;
}
.footer .copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #777;
}
@media only screen and (max-width: 1024px) {
  .navbar .left{
      margin-left: 0px;
  }
  .navbar .searchbox input{
      width: 600px;
  }
  .FAQ-container{
    margin: 20px auto;
  }
  .footer .container{
      margin: 0px 200px;
  }
}
@media only screen and (max-width: 768px) {
  .navbar .left{
      margin-left: 0px;
  }
  .navbar .searchbox input{
      width: 400px;
  }
  .FAQ-container{
    margin: 20px 50px;
  }
  .footer .container{
      margin: 0px 200px;
  }
}
@media only screen and (max-width: 425px) {
  .navbar{
      height: 60px;
  }
  .navbar .left img {
      width: 60px;
      margin-left: -15px;
  }
  .searchbox i{
      font-size: 20px;
      height: 20px;
  }
  .navbar .searchbox input{
      width: 200px;
  }
  .searchbox input {
      font-size: 18px;
      height: 20px;
  }
  .navbar .right{
      gap: 15px;
  }
  .navbar .right i {
      font-size: 35px;
  }
  .FAQ-container{
    margin: 20px 20px;
  }
  .footer .container{
      margin: 0px 20px;
  }
}